body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:lightgray;
}
.sky #sky {
    background-image: url('../static/sky-head1.png');
    background-color: #074f57;
}
.hed head {
    color: #074f57;
}