{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Map Display</title>
</head>
<body>
    <h1> Rainmap Matplotlib </h1>
    <form method="POST" action="{% url 'generate_map' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="date_time">Date and Time:</label>
            {% comment %} {{ form.date_time }} {% endcomment %}
            <input type="datetime-local" name="date_time" value="2016-09-01T10:00" step="3600" required id="date_time">
        </div>

        <div class="entry">
            <div class="entry-date">{{ entry.date_time }}</div>
            <input id="dataInput" value="{{ entry.data }}" hidden>
        </div>

        <input type="submit" value="search">

        {% if entry == None %}
            <p>No entries yet.</p>
        {% else %}
            <p>Bấm "Display" để hiển thị dữ liệu</p>
            <input type="button" id="applyData" value="Display" onClick="clickMess()">
            <p id="noti"></p>
        {% endif %}
        <a href="{% url 'base' %}" class="reset-button"><button>Reset</button></a>
    </form>
        <img src="{% url 'get_map_image' %}" alt="Map Display">

</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const dateInput = document.querySelector('input[type="datetime-local"]');
    dateInput.addEventListener('input', function() {
        if (!this.value) return;
        
        const date = new Date(this.value);
        if (date.getMinutes() !== 0) {
            date.setMinutes(0);
            this.value = date.toISOString().slice(0, 16);
        }
    });
    
});
</script>
</html>