{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
    <title>Map Display</title>
    <link rel="stylesheet" href="{% static 'map.css' %}">
</head>
<body>
    <div class="d-flex py-4" style="background-image: url('../static/sky-head1.png'); background-repeat: no-repeat; background-size: cover">
        <div class="p-2 flex-grow-1">
            <h1> Rainmap Demo </h1>
        </div>

        <div class="p-2">
            <a href="/login"><button class="btn btn-secondary">Sign in</button></a>
        </div>

    </div>
    <div class="d-flex py-4">
        <div class="p-2 flex-grow-1">
            <form method="POST" action="{% url 'base' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="date_time">Date and Time:</label>
                        {% comment %} {{ form.date_time }}  {% endcomment %}
                    <input type="datetime-local" name="date_time" value="2021-01-01T10:00" step="3600" required >
                </div>
            
                <div class="p-2">
                    <input type="submit" class="btn btn-primary" id="liveToastBtn" value="search">

                </div>
            </form> 
        </div>
    </div>
    {% if entry %}
        <div class="bg-success col-md-3 text-light">
            <p>Dữ liệu mưa đang được hiển thị: {{ date_time }}</p>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-7" id="strict-map">
            {{ map|safe }}
        </div>
    </div>
    

</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const dateInput = document.querySelector('input[type="datetime-local"]');
    dateInput.addEventListener('input', function() {
        if (!this.value) return;
        
        const date = new Date(this.value);
        if (date.getMinutes() !== 0) {
            date.setMinutes(0);
            this.value = date.toISOString().slice(0, 16);
        }
    });
    
}); 

</script>
</html>