{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'map.css' %}"/>
</head>
<body>
    <h1>Rain Map Demo</h1>
    
    <div class="controls">
        <div class="search-form">
            <form method="post">
                {% csrf_token %}
            <div class="form-group">
                <label for="id_date_time">Date and Time:</label>
                {{ form.date_time }}
            </div>

            <div class="entry">
                <div class="entry-date">{{ entry.date_time }}</div>
                <input id="dataInput" value="{{ entry.data }}" hidden>
            </div>

            <input type="submit" value="search">
            {% if entry == None %}
                <p>No entries yet.</p>
            {% else %}
                <p>Bấm "Display" để hiển thị dữ liệu</p>
                <input type="button" id="applyData" value="Display" onClick="clickMess()">
                <p id="noti"></p>
            {% endif %} 
            <a href="{% url 'get_mx_data' %}" class="reset-button"><button>Reset</button></a>
            </form>
        </div>

    </div>
    
    <div class="map-container">
        <!-- Map image (replace with your actual map) -->
        {% comment %} <img id="mapImage" src="https://maps.googleapis.com/maps/api/staticmap?size=752x452&maptype=terrain&scale=2&zoom=5&center=37.0902,-95.7129" alt="Map Background"> {% endcomment %}
        <img style="width:106%;height:106%" id="mapImage" src="{% static 'map.png' %}" alt="Map ">

        <!-- Color overlay grid -->
        <div class="grid-container" id="grid"></div>
    </div>
    
</body>
<script src="{% static 'map.js' %}"></script>
</html>