<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b5a04cf1b4e8b601f9b863036860bb2c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
    <div style="position: fixed; 
        bottom: 10px; left: 10px; width: 400px; height: 30px; 
        border:2px solid grey; z-index:9999; font-size:14px;
        background-color:white; opacity: 0.85;">
        <img src="../static/color_scale.png" alt="Color Scale">
    </div>
    
    
            <div class="folium-map" id="map_b5a04cf1b4e8b601f9b863036860bb2c" ></div>
        
</body>
<script>
    
    
            var map_b5a04cf1b4e8b601f9b863036860bb2c = L.map(
                "map_b5a04cf1b4e8b601f9b863036860bb2c",
                {
                    center: [20.0, 104.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "maxBounds": [
[
-90,
-180,
],
[
90,
180,
],
],
  "zoom": 8,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_889a4466825a16a6dc5679aac75a7d57 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 7,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_889a4466825a16a6dc5679aac75a7d57.addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            map_b5a04cf1b4e8b601f9b863036860bb2c.fitBounds(
                [[19, 102], [22, 108]],
                {}
            );
        
    
            var marker_15bafc30bbe8b2a92e559621998ab6f3 = L.marker(
                [19.55722, 105.149253],
                {
}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var icon_5e95fef571042c7237c98b7a01017ba1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_82459958d94e3c324c9aafbab0990948 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cfbc20473e26af6e6e7aeabaa4eecce5 = $(`<div id="html_cfbc20473e26af6e6e7aeabaa4eecce5" style="width: 100.0%; height: 100.0%;">Quỳ Châu</div>`)[0];
                popup_82459958d94e3c324c9aafbab0990948.setContent(html_cfbc20473e26af6e6e7aeabaa4eecce5);
            
        

        marker_15bafc30bbe8b2a92e559621998ab6f3.bindPopup(popup_82459958d94e3c324c9aafbab0990948)
        ;

        
    
    
                marker_15bafc30bbe8b2a92e559621998ab6f3.setIcon(icon_5e95fef571042c7237c98b7a01017ba1);
            
    
            var rectangle_3e5cbf43c615333fc9eda2e23be2dfb7 = L.rectangle(
                [[19.5, 104.0], [20.5, 105.1]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var marker_10dfd4b23cc3e832e3f98209729dd33c = L.marker(
                [20.52461, 104.514255],
                {
}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var icon_b78ed15fc03295d32998cd6813147eed = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2555fa2d61a970c7d24ff69a36bd9c62 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3cea40fe494b17f54c8a476890beaefe = $(`<div id="html_3cea40fe494b17f54c8a476890beaefe" style="width: 100.0%; height: 100.0%;">Mường Lát</div>`)[0];
                popup_2555fa2d61a970c7d24ff69a36bd9c62.setContent(html_3cea40fe494b17f54c8a476890beaefe);
            
        

        marker_10dfd4b23cc3e832e3f98209729dd33c.bindPopup(popup_2555fa2d61a970c7d24ff69a36bd9c62)
        ;

        
    
    
                marker_10dfd4b23cc3e832e3f98209729dd33c.setIcon(icon_b78ed15fc03295d32998cd6813147eed);
            
    
            var rectangle_ef5f7970b8affc2c7ffa9c635713d594 = L.rectangle(
                [[20.5, 102.4], [21.5, 104.5]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var marker_5bee70cb6d2c7aa81bb762f06c390c02 = L.marker(
                [20.936636, 103.926018],
                {
}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var icon_824f63a5b8a52b2a3f3ffe7d58312cb5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "gray",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_3d5e1ed5c1191ef18e2155065223ab4d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a20af409b713df938b1b7847b5f7cc18 = $(`<div id="html_a20af409b713df938b1b7847b5f7cc18" style="width: 100.0%; height: 100.0%;">Xã Là</div>`)[0];
                popup_3d5e1ed5c1191ef18e2155065223ab4d.setContent(html_a20af409b713df938b1b7847b5f7cc18);
            
        

        marker_5bee70cb6d2c7aa81bb762f06c390c02.bindPopup(popup_3d5e1ed5c1191ef18e2155065223ab4d)
        ;

        
    
    
                marker_5bee70cb6d2c7aa81bb762f06c390c02.setIcon(icon_824f63a5b8a52b2a3f3ffe7d58312cb5);
            
    
            var rectangle_1e32b231f735a1c3ec6b3b771071d3bf = L.rectangle(
                [[20.9, 102.4], [21.5, 103.7]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var marker_22d6ec0ae961af3d32630800341c7a7c = L.marker(
                [19.872367, 105.284464],
                {
}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var icon_b7e7c956d78d46302288a09a91a51b21 = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b2cc6b8d69ac408afe16fb025b191f53 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_34066f5d7d5f608030fb293de892e31f = $(`<div id="html_34066f5d7d5f608030fb293de892e31f" style="width: 100.0%; height: 100.0%;">Cửa Đạt</div>`)[0];
                popup_b2cc6b8d69ac408afe16fb025b191f53.setContent(html_34066f5d7d5f608030fb293de892e31f);
            
        

        marker_22d6ec0ae961af3d32630800341c7a7c.bindPopup(popup_b2cc6b8d69ac408afe16fb025b191f53)
        ;

        
    
    
                marker_22d6ec0ae961af3d32630800341c7a7c.setIcon(icon_b7e7c956d78d46302288a09a91a51b21);
            
    
            var rectangle_a737042793bc38188858f2007e0458d4 = L.rectangle(
                [[19.7, 104.0], [20.5, 105.3]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var marker_1d0f30fa2c87c2890db49e1a3511d6ab = L.marker(
                [19.4, 104.166667],
                {
}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
    
            var icon_5766954956406c8fcb123941d56b234e = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_cb180a76b51e9c58490a281d5d257e7d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_696884540c3ef1650b673438c7842d80 = $(`<div id="html_696884540c3ef1650b673438c7842d80" style="width: 100.0%; height: 100.0%;">Mường Xén</div>`)[0];
                popup_cb180a76b51e9c58490a281d5d257e7d.setContent(html_696884540c3ef1650b673438c7842d80);
            
        

        marker_1d0f30fa2c87c2890db49e1a3511d6ab.bindPopup(popup_cb180a76b51e9c58490a281d5d257e7d)
        ;

        
    
    
                marker_1d0f30fa2c87c2890db49e1a3511d6ab.setIcon(icon_5766954956406c8fcb123941d56b234e);
            
    
            var rectangle_8cb90dc8c1a6ebe78053072ea0db3276 = L.rectangle(
                [[19.0, 102.0], [20.5, 104.2]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b5a04cf1b4e8b601f9b863036860bb2c);
        
</script>
</html>